<!-- <div class="container">
  <div class="main-content">
    <ngx-gridster
      [options]="gridsterOptions"
      [draggableOptions]="gridsterDraggableOptions"
      (reflow)="onReflow($event)"
      (optionsChange)="optionsChange($event)"
      #gridster1
      class="dashboard"
    >
      <ngx-gridster-item
        *ngFor="let widget of widgets; let indx = index"
        #itemComp
        [options]="itemOptions"
        [dragAndDrop]="widget.dragAndDrop"
        [resizable]="widget.resizable"
        [(x)]="widget.x"
        [(y)]="widget.y"
        [(xSm)]="widget.xSm"
        [(ySm)]="widget.ySm"
        [(xMd)]="widget.xMd"
        [(yMd)]="widget.yMd"
        [(xLg)]="widget.xLg"
        [(yLg)]="widget.yLg"
        [(xXl)]="widget.xXl"
        [(yXl)]="widget.yXl"
        [(w)]="widget.w"
        [(h)]="widget.h"
        [(wSm)]="widget.wSm"
        [(hSm)]="widget.hSm"
        [(wMd)]="widget.wMd"
        [(hMd)]="widget.hMd"
        [(wLg)]="widget.wLg"
        [(hLg)]="widget.hLg"
        [(wXl)]="widget.wXl"
        [(hXl)]="widget.hXl"
        (change)="itemChange($event, gridster1)"
      >
        <div class="panel-heading">
          <h5 class="panel-title">{{ widget.title }}</h5>
        </div>

        <div class="panel-body"></div>
      </ngx-gridster-item>
    </ngx-gridster>
  </div>
</div> -->

<nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
        <nz-card [nzTitle]="item.title">
          Card content
        </nz-card>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>