<div class="search-bar">
  <nz-input-group [nzPrefix]="prefixTemplate" [nzSuffix]="suffixTemplate">
    <input
      type="text"
      nz-input
      placeholder="Search..."
      [formControl]="searchDraft"
    />
  </nz-input-group>
  <ng-template #prefixTemplate><i nz-icon nzType="search"></i></ng-template>
  <ng-template #suffixTemplate
    ><i
      nz-icon
      nz-tooltip
      class="ant-input-clear-icon"
      nzTheme="fill"
      nzType="close-circle"
      *ngIf="searchDraft.value"
      (click)="searchDraft.setValue(null)"
    ></i
  ></ng-template>
  <button nz-button nzType="dashed" (click)="editNote($event, null)">
    <i nz-icon nzType="plus"></i>New
  </button>
</div>

<div class="container" *ngIf="data.length > 0">
  <div class="main-content">
    <ngx-gridster
      [options]="gridsterOptions"
      [draggableOptions]="gridsterDraggableOptions"
      (reflow)="onReflow($event)"
      (optionsChange)="optionsChange($event)"
      #gridster1
      class="dashboard"
    >
      <ngx-gridster-item
        *ngFor="let row of data; let indx = index"
        #itemComp
        [options]="itemOptions"
        [dragAndDrop]="widget.dragAndDrop"
        [resizable]="widget.resizable"
        [(x)]="widget.x"
        [(y)]="widget.y"
        [(w)]="widget.w"
        [(h)]="widget.h"
        (change)="itemChange($event, gridster1)"
      >
        <div class="panel-heading">
          <h5 class="panel-title">{{ row.title }}</h5>
          <span class="panel-actions">
            <a href="#" (click)="editNote($event, row)" title="Edit"
              ><i nz-icon nzType="edit"></i
            ></a>
            <a href="#" (click)="deleteNote($event, row)" title="Delete"
              ><i nz-icon nzType="delete"></i
            ></a>
          </span>
        </div>

        <div class="panel-body" [innerHTML]="row.content"></div>
      </ngx-gridster-item>
    </ngx-gridster>
  </div>
</div>
<div *ngIf="data.length == 0" class="empty">
  <nz-empty></nz-empty>
</div>
