<div class="search-bar">
  <nz-input-group [nzPrefix]="prefixTemplate">
    <input type="text" nz-input placeholder="Search..." />
  </nz-input-group>
  <ng-template #prefixTemplate><i nz-icon nzType="search"></i></ng-template>
  <button nz-button [nzSize]="size" nzType="dashed" routerLink="/edit"><i nz-icon nzType="plus"></i>New</button>
</div>

<div class="container">
  <div class="main-content">
    <ngx-gridster
      [options]="gridsterOptions"
      [draggableOptions]="gridsterDraggableOptions"
      (reflow)="onReflow($event)"
      (optionsChange)="optionsChange($event)"
      #gridster1
      class="dashboard"
    >
      <ngx-gridster-item
        *ngFor="let row of data; let indx = index"
        #itemComp
        [options]="itemOptions"
        [dragAndDrop]="widget.dragAndDrop"
        [resizable]="widget.resizable"
        [(x)]="widget.x"
        [(y)]="widget.y"
        [(w)]="widget.w"
        [(h)]="widget.h"
        (change)="itemChange($event, gridster1)"
      >
        <div class="panel-heading">
          <h5 class="panel-title">{{ row.title }}</h5>
          <span class="panel-actions">
            <i nz-icon nzType="edit"></i>
            <i nz-icon nzType="delete"></i>
          </span>
        </div>

        <div class="panel-body">
          <div [innerHTML]="row.content"></div>
        </div>
      </ngx-gridster-item>
    </ngx-gridster>
  </div>
</div>

<!-- <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 6, lg: 6, xl: 4 }">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
        <nz-card [nzTitle]="item.title">
          {{item.content}}
        </nz-card>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list> -->
