<div class="note-container">
  <form [formGroup]="form">
    <div class="note-title">
      <label
        *ngIf="!editMode"
        (click)="editTitleClick()"
        class="note-title-label"
        title="Edit"
        >{{ form.get("title").value }}</label
      >
      <input
        nz-input
        autofocus
        #editTitle
        *ngIf="editMode"
        formControlName="title"
        class="note-title-input"
        (keydown.esc)="onBlurTitle($event)"
        (keydown.enter)="onBlurTitle($event)"
        (focus)="$event.target.select()"
        (focusout)="onBlurTitle($event)"
      />
      <span class="action">
        <button nz-button nzType="dashed" routerLink="/">
          <i nz-icon nzType="appstore" nzTheme="outline"></i>My Notes
        </button>
        <button nz-button nzType="dashed" (click)="newNoteClick()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>New
        </button>
      </span>
    </div>
    <div class="document-editor">
      <div class="document-editor__editable-container">
        <div class="document-editor__editable">
          <ckeditor
            [editor]="editor"
            formControlName="content"
            (ready)="onReady($event)"
          ></ckeditor>
        </div>
      </div>
    </div>
  </form>
</div>
