<div class="note-container">
  <form [formGroup]="form">
    <div class="note-title">
      <label
        *ngIf="!editMode"
        (click)="editTitleClick()"
        class="note-title-label"
        >{{ form.get("title").value }}</label
      >
      <input
        nz-input
        autofocus
        #inputTitle
        *ngIf="editMode"
        formControlName="title"
        class="note-title-input"
        (keydown.esc)="$event.target.blur()"
        (keydown.enter)="$event.target.blur()"
        (focus)="$event.target.select()"
        (focusout)="editMode = false"
      />
      <span class="action">
        <button nz-button nzType="dashed" [nzSize]="'small'">
          <i nz-icon nzType="arrow-left" nzTheme="outline"></i>Back
        </button>
      </span>
    </div>
    <div class="document-editor">
      <div class="document-editor__editable-container">
        <div class="document-editor__editable">
          <ckeditor
            [editor]="editor"
            formControlName="content"
            (ready)="onReady($event)"
          ></ckeditor>
        </div>
      </div>
    </div>
  </form>
</div>
