<div class="note-title">
    <label *ngIf='!editMode' (click)='editMode=true' class='note-title-label'>{{title}}</label>
    <input nz-input *ngIf='editMode' [(ngModel)]='title' class='note-title-input'
      autofocus (keydown.enter)='$event.target.blur()' (focusout)="editMode=false">
    <span class="action">
      <button nz-button nzType="dashed" [nzSize]="'small'">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>Back
      </button>
    </span>
</div>
<div class="document-editor">
  <div class="document-editor__toolbar"></div>
  <div class="document-editor__editable-container">
    <div class="document-editor__editable">
      <ckeditor
        [editor]="Editor"
        [(ngModel)]="text"
        (ready)="onReady($event)"
      ></ckeditor>
    </div>
  </div>
</div>
