::ng-deep .ck-content {
  width: 15.8cm;
  min-height: 21cm;
  padding: 1cm 2cm 2cm;
  border: 1px hsl(0, 0%, 82.7%) solid;
  border-radius: var(--ck-border-radius);
  background: white;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
  margin: 0 auto;
}

::ng-deep .document-editor {
  border: 1px solid var(--ck-color-base-border);
  border-radius: var(--ck-border-radius);
  max-height: calc(100vh - 20px);
  display: flex;
  flex-flow: column nowrap;
}

::ng-deep .ck.ck-toolbar {
  // background: #ffffff;
  padding: 0 var(--ck-spacing-small);
  border: none;
  border-bottom: 1px solid var(--ck-color-toolbar-border);
}

::ng-deep .document-editor__editable-container .ck-editor__editable {
  width: 100%;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  padding: 2em 3em;
  // border: 1px hsl(0, 0%, 82.7%) solid;
  border-radius: var(--ck-border-radius);
  background: #ffffff00;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
  margin: 0 auto;
}

::ng-deep .document-editor__toolbar .ck-toolbar {
  border: 0;
  border-radius: 0;
}

::ng-deep .ck.ck-editor__editable_inline p {
  margin-bottom: 0.1em;
}

::ng-deep .document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
  font: 16px/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.note-title {
  margin: 16px 0;
  line-height: 32px;

  .note-title-input {
    font-size: 18px;
    font-variant-ligatures: no-contextual;
    width: 500px;
    margin: 0;
    min-width: 1px;
    padding: 2px 7px;
  }

  .note-title-label {
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    padding: 3px 8px;
  }

  .note-title-label:hover {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(0, 21, 41, 0.2);
  }
}

.note-title {
  .action {
    float: right;
    [nz-button] {
      margin-left: 8px;
    }
  }
}

.note-container {
  padding: 0 50px;
}

@media only screen and (max-width: 600px) {
  .note-container {
    padding: 0 15px;
  }

  ::ng-deep .ant-layout-header {
    padding: 0 15px;
  }
}

.save-notes-indication {
  color: rgba(0, 0, 0, 0.45);
  font-style: italic;
}
