svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.logo a {
  float: left;
  color: white;
  font-family: monospace;
  font-size: x-large;
  text-decoration: none;
}

.logo a span {
  position: absolute;
  top: -8px;
}

.header-action {
  float: right;
  a {
    color: white;
    font-family: monospace;
  }
}

.github-link {
  margin-left: 22px;
}

.ant-layout-header {
  height: 50px;
  line-height: 48px;
}