svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.logo a {
  float: left;
  color: white;
  font-family: monospace;
  font-size: x-large;
  text-decoration: none;
}

.header-action {
  float: right;
  a {
    color: white;
    font-family: monospace;
  }
}

[nz-menu] {
  line-height: 64px;
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}

nz-footer {
  text-align: center;
}