.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  margin: 10px 0;
}

.login-header {
  padding-top: 100px;
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 33px;
  text-align: center;
}
